<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="fas fa-globe"></span> Corona Virus Cluster Map (2019/2020)</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://github.com/tcramer217"><span class="fa fa-github"></span> Check me out on GitHub</a>
      </li>
    </ul>
  </div>
</nav>
