<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>

  <link rel="stylesheet" type="text/css" href="leaflet.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css" />
  <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css" />
  <script src="https://unpkg.com/browse/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>

</head>

<body>

  <% include ../partials/nav.ejs %>

  <!-- <input id="clickMe" type="button" value="PLAY"> -->

  <!-- <div id="time"></div> -->
  <div id="map"></div>

  <script src="dist/bundle.js" type="module"></script>

</body>
</html>
